@charset "UTF-8";
/*————————————————
  1-base
————————————————*/
/*————————————————
  color
————————————————*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  word-wrap: break-word;
  font-size: 62.5%;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', 'Kosugi Maru', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #4a4a4a;
  letter-spacing: 0.2rem;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

/*————————————————
  2-layout
————————————————*/
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #E8F2F1;
}

body .container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  min-width: 800px;
  overflow: hidden;
  background: #E8F2F1;
}

/*————————————————
  3-module
————————————————*/
#contact-btn label {
  font-size: 1.5rem;
  background: darkcyan;
  padding: 16px 32px;
}

#contact-btn input {
  display: none;
}

/*————————————————
  h1
————————————————*/
.heading {
  font-size: 3.2rem;
}

#nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

#nav .menu {
  text-align: right;
}

#nav .menu__item {
  display: inline-block;
  margin: 16px 40px;
  font-size: 2rem;
  transition: 0.2s all cubic-bezier(0.8, 0, 0.3, 1) 0s;
  transform-origin: right center;
  color: #4a4a4a;
  cursor: pointer;
}

#nav .menu__item:hover {
  transform: scale(1.5);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*————————————————
  4-page
————————————————*/
#profile .border {
  width: 100%;
  height: 100%;
}

#profile .border__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: -moz-linear-gradient(left, #364D6A 90%, #202037);
  background: -webkit-linear-gradient(left, #364D6A 90%, #202037);
  background: linear-gradient(to right, #364D6A 90%, #202037);
}

#profile .border__right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: -moz-linear-gradient(top, #202037 10%, #364D6A);
  background: -webkit-linear-gradient(top, #202037 10%, #364D6A);
  background: linear-gradient(to bottom, #202037 10%, #364D6A);
}

#profile .border__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: -moz-linear-gradient(right, #364D6A 50%, #1d5292);
  background: -webkit-linear-gradient(right, #364D6A 50%, #1d5292);
  background: linear-gradient(to left, #364D6A 50%, #1d5292);
}

#profile .border__left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: -moz-linear-gradient(bottom, #1d5292 50%, #364D6A);
  background: -webkit-linear-gradient(bottom, #1d5292 50%, #364D6A);
  background: linear-gradient(to top, #1d5292 50%, #364D6A);
}

#profile .profile__title {
  position: absolute;
  top: 20%;
  left: 10%;
}

#profile .profile .chronology {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 50%;
  height: 32px;
}

#profile .profile .chronology__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #4a4a4a;
}

#profile .profile .chronology__nav {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile .profile .chronology__list {
  position: relative;
}

#profile .profile .chronology__list::before {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 1rem;
}

#profile .profile .chronology__list:nth-of-type(1)::before {
  content: '1985~';
}

#profile .profile .chronology__list:nth-of-type(1) i:hover::after {
  content: '学生時代';
}

#profile .profile .chronology__list:nth-of-type(2)::before {
  content: '2008~';
}

#profile .profile .chronology__list:nth-of-type(2) i:hover::after {
  content: '営業マン時代';
}

#profile .profile .chronology__list:nth-of-type(3)::before {
  content: '2013~';
}

#profile .profile .chronology__list:nth-of-type(3) i:hover::after {
  content: 'バリスタ時代';
}

#profile .profile .chronology__list:nth-of-type(4)::before {
  content: '2015~';
}

#profile .profile .chronology__list:nth-of-type(4) i:hover::after {
  content: 'グルメ広告媒体コンサル時代';
}

#profile .profile .chronology__list:nth-of-type(5)::before {
  content: '2017~';
}

#profile .profile .chronology__list:nth-of-type(5) i:hover::after {
  content: '教育系ITベンチャー時代';
}

#profile .profile .chronology__list:nth-of-type(6)::before {
  content: '2019~';
}

#profile .profile .chronology__list:nth-of-type(6) i:hover::after {
  content: 'フリーランス時代';
}

#profile .profile .chronology__list:nth-of-type(7)::before {
  content: 'future';
}

#profile .profile .chronology__list:nth-of-type(7) i:hover::after {
  content: 'これから';
}

#profile .profile .chronology__list i {
  position: relative;
  color: #4a4a4a;
  cursor: pointer;
  transition: all 0.2s;
}

#profile .profile .chronology__list i:hover {
  color: #364D6A;
  transition: all 0.2s;
  transform: scale(1.2);
}

#profile .profile .chronology__list i:hover::after {
  position: absolute;
  top: 24px;
  left: 16px;
  font-size: 1.2rem;
  width: 200px;
}

#profile .profile__body {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 70%;
  height: 180px;
  border: 1px solid black;
}

#profile .profile__contact {
  position: absolute;
  top: calc(50% + 160px);
  left: 50%;
  transform: translate(-50%, 0);
}

#top .border {
  width: 100%;
  height: 100%;
}

#top .border__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: #4a4a4a;
  animation: topAnimation 0.75s linear 0s;
}

#top .border__right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: #4a4a4a;
  animation: rightAnimation 1.5s linear 0s;
}

#top .border__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: #4a4a4a;
  animation: bottomAnimation 2.25s linear 0s;
}

#top .border__left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: #4a4a4a;
  animation: leftAnimation 3s linear 0s;
}

#top .top {
  width: 100%;
  height: 100%;
}

#top .top__title {
  position: absolute;
  top: 25%;
  left: 10%;
  transform: translate(0, -50%);
  animation: fadeInMoveUp 3.5s linear 0s;
  animation-fill-mode: forwards;
}

#top .top__content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 70%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

#top .top__description {
  width: 320px;
  font-size: 1.5rem;
  letter-spacing: 0.3em;
  line-height: 2.3rem;
}

#top .top__image {
  display: block;
  width: calc(100% - 360px);
  height: auto;
  background: gray;
}

#top .top__contact {
  position: absolute;
  top: calc(50% + 160px);
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes topAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes rightAnimation {
  0% {
    top: -200%;
  }
  100% {
    top: 0%;
  }
}

@keyframes bottomAnimation {
  0% {
    right: -300%;
  }
  100% {
    right: 0%;
  }
}

@keyframes leftAnimation {
  0% {
    bottom: -400%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0.4;
  }
  70% {
    opacity: 1;
  }
  98% {
    top: 25%;
  }
  100% {
    top: 20%;
  }
}
