@charset "UTF-8";
/*————————————————
  1-base
————————————————*/
/*————————————————
  color
————————————————*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  word-wrap: break-word;
  font-size: 62.5%;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', 'Kosugi Maru', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #4a4a4a;
  letter-spacing: 0.2rem;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

@keyframes DelayFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes topAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes rightAnimation {
  0% {
    top: -200%;
  }
  100% {
    top: 0%;
  }
}

@keyframes bottomAnimation {
  0% {
    right: -300%;
  }
  100% {
    right: 0%;
  }
}

@keyframes leftAnimation {
  0% {
    bottom: -400%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  95% {
    top: 50%;
  }
  100% {
    top: 20%;
  }
}

@keyframes shiny {
  0% {
    transform: scale(0) rotate(25deg);
    opacity: 0;
  }
  50% {
    transform: scale(1) rotate(25deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(25deg);
    opacity: 0;
  }
}

@keyframes page-transition-close {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 10px);
  }
}

@keyframes page-transition-open {
  0% {
    width: calc(100% - 10px);
  }
  100% {
    width: 0%;
  }
}

/*————————————————
  2-lib
————————————————*/
.slick-prev:before,
.slick-next:before {
  color: #2C334B !important;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*————————————————
  3-layout
————————————————*/
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #E8F2F1;
}

body .container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  min-width: 800px;
  overflow: hidden;
  background: #E8F2F1;
}

/*————————————————
  4-module
————————————————*/
.border-gradient {
  width: 100%;
  height: 100%;
}

.border-gradient__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: -moz-linear-gradient(left, #364D6A 90%, #202037);
  background: -webkit-linear-gradient(left, #364D6A 90%, #202037);
  background: linear-gradient(to right, #364D6A 90%, #202037);
}

.border-gradient__right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: -moz-linear-gradient(top, #202037 10%, #364D6A);
  background: -webkit-linear-gradient(top, #202037 10%, #364D6A);
  background: linear-gradient(to bottom, #202037 10%, #364D6A);
}

.border-gradient__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: -moz-linear-gradient(right, #364D6A 50%, #1d5292);
  background: -webkit-linear-gradient(right, #364D6A 50%, #1d5292);
  background: linear-gradient(to left, #364D6A 50%, #1d5292);
}

.border-gradient__left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: -moz-linear-gradient(bottom, #1d5292 50%, #364D6A);
  background: -webkit-linear-gradient(bottom, #1d5292 50%, #364D6A);
  background: linear-gradient(to top, #1d5292 50%, #364D6A);
}

.chronology {
  width: 100%;
  height: 100%;
}

.chronology__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #4a4a4a;
}

.chronology__nav {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chronology__list {
  position: relative;
}

.chronology__list::before {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 1rem;
}

.chronology__list:nth-of-type(1)::before {
  content: 'start';
}

.chronology__list:nth-of-type(1) i:hover::after {
  content: 'プロフィール';
}

.chronology__list:nth-of-type(2)::before {
  content: '2008~';
}

.chronology__list:nth-of-type(2) i:hover::after {
  content: '営業マン';
}

.chronology__list:nth-of-type(3)::before {
  content: '2013~';
}

.chronology__list:nth-of-type(3) i:hover::after {
  content: 'バリスタ';
}

.chronology__list:nth-of-type(4)::before {
  content: '2015~';
}

.chronology__list:nth-of-type(4) i:hover::after {
  content: 'グルメ広告媒体コンサル';
}

.chronology__list:nth-of-type(5)::before {
  content: '2017~';
}

.chronology__list:nth-of-type(5) i:hover::after {
  content: '教育系ITベンチャー';
}

.chronology__list:nth-of-type(6)::before {
  content: '2019~';
}

.chronology__list:nth-of-type(6) i:hover::after {
  content: '個人事業主';
}

.chronology__list:nth-of-type(7)::before {
  content: 'future';
}

.chronology__list:nth-of-type(7) i:hover::after {
  content: 'これから';
}

.chronology__list i {
  position: relative;
  color: #4a4a4a;
  cursor: pointer;
  transition: all 0.2s;
}

.chronology__list i:hover {
  color: #364D6A;
  transition: all 0.2s;
  transform: scale(1.2);
}

.chronology__list i:hover::after {
  position: absolute;
  top: 24px;
  left: 16px;
  font-size: 1.2rem;
  width: 200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contact-btn {
  position: absolute;
  top: calc(50% + 160px);
  left: 50%;
  transform: translate(-50%, 0);
}

#contact-btn label {
  position: relative;
  display: block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2C334B;
  overflow: hidden;
  font-size: 1.5rem;
  cursor: pointer;
}

#contact-btn label::after {
  content: '';
  position: absolute;
  top: -100px;
  left: -100px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, white 100%, rgba(255, 255, 255, 0) 0%);
  animation-name: shiny;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#contact-btn label a {
  color: #FFFFFF;
}

#contact-btn input {
  display: none;
}

#top #contact-btn {
  opacity: 0;
  animation: DelayFadeIn 0.4s ease-in-out 4s;
  animation-fill-mode: forwards;
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(11, 180px);
}

.grid-wrap__content {
  padding: 16px;
  text-align: center;
}

.grid-wrap__icon {
  margin-bottom: 16px;
}

.grid-wrap__icon i {
  color: #364D6A;
  background: -webkit-linear-gradient(45deg, #1d5292, #364D6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-wrap__title {
  margin-bottom: 16px;
}

.grid-wrap__text {
  font-size: 1.4rem;
  line-height: 1.4em;
}

.grid-wrap__text a {
  color: #4a4a4a;
  transition: opacity 0.2;
}

.grid-wrap__text a:hover {
  opacity: 0.8;
}

/*————————————————
  h1
————————————————*/
.heading {
  font-size: 3.2rem;
}

/*————————————————
  h2
————————————————*/
.second-heading {
  font-size: 1.8rem;
  font-weight: 900;
}

#nav {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translate(0, -50%);
}

#nav .menu {
  text-align: right;
}

#nav .menu__item {
  display: inline-block;
  margin: 16px 40px;
  font-size: 2rem;
  transition: 0.2s all cubic-bezier(0.8, 0, 0.3, 1) 0s;
  transform-origin: right center;
  color: #4a4a4a;
  cursor: pointer;
}

#nav .menu__item:hover {
  transform: scale(1.5);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#top #nav {
  opacity: 0;
  animation: DelayFadeIn 0.4s ease-in-out 4s;
  animation-fill-mode: forwards;
}

#profile-contents {
  width: 100%;
  height: 100%;
}

#profile-contents .panel {
  width: 100%;
  height: 100%;
}

#profile-contents .panel::after {
  content: '';
  display: block;
  clear: both;
}

#profile-contents .panel__image {
  width: 240px;
  height: 100%;
  object-fit: cover;
  margin-right: 24px;
  float: left;
}

#profile-contents .panel__desc {
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin-right: 8px;
  float: left;
}

#profile-contents .panel__desc--with-image {
  width: calc(100% - 272px);
}

#profile-contents .panel__title {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 24px;
  display: inline-block;
}

#profile-contents .panel__title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background: #1d5292;
}

#profile-contents .panel__text {
  font-size: 1.5rem;
  line-height: 2em;
}

#profile-contents .panel__text span {
  font-weight: 700;
}

/*————————————————
  5-page
————————————————*/
.portfolio__title {
  position: absolute;
  top: 20%;
  left: 10%;
}

.portfolio__body {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 70%;
  height: 240px;
}

#portfolio-contents {
  width: 100%;
  height: 100%;
}

#portfolio-contents .portfolio-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#portfolio-contents .portfolio-content__image {
  width: 360px;
  height: inherit;
  position: relative;
}

#portfolio-contents .portfolio-content__image .pc-portfolio {
  position: absolute;
  top: -135px;
  left: 0;
  width: 75%;
}

#portfolio-contents .portfolio-content__image .sp-portfolio {
  position: absolute;
  top: -60px;
  right: 10px;
  width: 50%;
}

#portfolio-contents .portfolio-content__body {
  width: calc(100% - 360px);
  height: 180px;
  margin: 30px 0;
  white-space: nowrap;
  overflow: scroll;
}

#portfolio-contents .portfolio-content__title {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 24px;
}

#portfolio-contents .portfolio-content__text {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 16px;
}

#portfolio-contents .portfolio-content__text span {
  font-weight: 700;
}

#portfolio-contents .portfolio-content__text a {
  color: #4a4a4a;
}

.profile__title {
  position: absolute;
  top: 20%;
  left: 10%;
  cursor: pointer;
}

.profile__chronology {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 50%;
  height: 32px;
}

.profile__body {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 70%;
  height: 180px;
}

.profile__contact {
  position: absolute;
  top: calc(50% + 160px);
  left: 50%;
  transform: translate(-50%, 0);
}

.skill__title {
  position: absolute;
  top: 20%;
  left: 10%;
}

.skill__body {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 70%;
  height: 180px;
  overflow-y: scroll;
}

.skill__contact {
  position: absolute;
  top: calc(50% + 160px);
  left: 50%;
  transform: translate(-50%, 0);
}

.border {
  width: 100%;
  height: 100%;
}

.border__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: -moz-linear-gradient(left, #364D6A 90%, #202037);
  background: -webkit-linear-gradient(left, #364D6A 90%, #202037);
  background: linear-gradient(to right, #364D6A 90%, #202037);
  animation: topAnimation 0.75s linear 0s;
}

.border__right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: -moz-linear-gradient(top, #202037 10%, #364D6A);
  background: -webkit-linear-gradient(top, #202037 10%, #364D6A);
  background: linear-gradient(to bottom, #202037 10%, #364D6A);
  animation: rightAnimation 1.5s linear 0s;
}

.border__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  background: -moz-linear-gradient(right, #364D6A 50%, #1d5292);
  background: -webkit-linear-gradient(right, #364D6A 50%, #1d5292);
  background: linear-gradient(to left, #364D6A 50%, #1d5292);
  animation: bottomAnimation 2.25s linear 0s;
}

.border__left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  background: -moz-linear-gradient(bottom, #1d5292 50%, #364D6A);
  background: -webkit-linear-gradient(bottom, #1d5292 50%, #364D6A);
  background: linear-gradient(to top, #1d5292 50%, #364D6A);
  animation: leftAnimation 3s linear 0s;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top__title {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  animation: fadeInMoveUp 3.5s linear 0s;
  animation-fill-mode: forwards;
}

.top__content {
  opacity: 0;
  animation: DelayFadeIn 0.4s ease-in-out 4s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 70%;
  height: 180px;
  display: flex;
}

.top__description {
  width: 295px;
  font-size: 1.5rem;
  letter-spacing: 0.3em;
  line-height: 2.3rem;
}

.top__description--emphasis {
  font-size: 1.5rem;
  line-height: 4.5rem;
  font-weight: 900;
}

.top__image {
  position: relative;
  width: calc(100% - 335px);
  height: auto;
  background: url("./images/own-pic.jpg") no-repeat center center/cover;
}

.top__image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: 60px solid #E8F2F1;
  border-bottom: 240px solid transparent;
}

/*————————————————
  6-state
————————————————*/
#profile-contents .panel {
  position: absolute;
  top: -100vh;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s cubic-bezier(0, 0.6, 1, 1);
}

#profile-contents .panel.is-show {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.profile__title.is-selected::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background: #364D6A;
}

#contents-body.is-transition-close::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  width: 0%;
  height: calc(100% - 10px);
  background: #fff;
  animation: page-transition-close 0.4s cubic-bezier(1, 0, 0, 1) 0.1s;
  animation-fill-mode: forwards;
}

#transition-inner.is-transition-open {
  width: 100%;
  height: 100%;
}

#transition-inner.is-transition-open::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #fff;
  animation: page-transition-open 0.4s cubic-bezier(1, 0, 0, 1) 0.1s;
  animation-fill-mode: forwards;
}
