.chronology {
  width: 100%;
  height: 100%;
  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $gray;
  }
  &__nav {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    position: relative;
    &::before {
      display: inline-block;
      position: absolute;
      top: -20px;
      left: -10px;
      font-size: 1rem;
    }
    &:nth-of-type(1) {
      &::before {
        content: '1985~';
      }
      i:hover::after {
        content: '学生時代';
      }
    }
    &:nth-of-type(2) {
      &::before {
        content: '2008~';
      }
      i:hover::after {
        content: '営業マン時代';
      }
    }
    &:nth-of-type(3) {
      &::before {
        content: '2013~';
      }
      i:hover::after {
        content: 'バリスタ時代';
      }
    }
    &:nth-of-type(4) {
      &::before {
        content: '2015~';
      }
      i:hover::after {
        content: 'グルメ広告媒体コンサル時代';
      }
    }
    &:nth-of-type(5) {
      &::before {
        content: '2017~';
      }
      i:hover::after {
        content: '教育系ITベンチャー時代';
      }
    }
    &:nth-of-type(6) {
      &::before {
        content: '2019~';
      }
      i:hover::after {
        content: 'フリーランス時代';
      }
    }
    i {
      position: relative;
      color: $gray;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: $middle-blue;
        transition: all 0.2s;
        transform: scale(1.2);
      }
      &:hover::after {
        position: absolute;
        top: 24px;
        left: 16px;
        font-size: 1.2rem;
        width: 200px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}