#profile-contents {
  .panel {
    position: absolute;
    top: -100vh;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s cubic-bezier(0, 0.6, 1, 1);
  }
}

#profile-contents {
  .panel.is-show {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
