/*————————————————
  color
————————————————*/
$white: #FFFFFF;
$light-gray: #E8F2F1;
$gray: #4a4a4a;
$light-blue: #1d5292;
$middle-blue: #364D6A;
$blue: #2C334B;
$dark-blue: #202037;
$orange: #c9410b;