.border-gradient {
  width: 100%;
  height: 100%;
  &__top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 5px;
    background: -moz-linear-gradient(left, $middle-blue 90%, $dark-blue);
    background: -webkit-linear-gradient(left, $middle-blue 90%, $dark-blue);
    background: linear-gradient(to right, $middle-blue 90%, $dark-blue);
  }
  &__right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 5px;
    height: 100%;
    background: -moz-linear-gradient(top, $dark-blue 10%, $middle-blue);
    background: -webkit-linear-gradient(top, $dark-blue 10%, $middle-blue);
    background: linear-gradient(to bottom, $dark-blue 10%, $middle-blue);
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 5px;
    background: -moz-linear-gradient(right, $middle-blue 50%, $light-blue);
    background: -webkit-linear-gradient(right, $middle-blue 50%, $light-blue);
    background: linear-gradient(to left, $middle-blue 50%, $light-blue);
  }
  &__left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 5px;
    height: 100%;
    background: -moz-linear-gradient(bottom, $light-blue 50%, $middle-blue);
    background: -webkit-linear-gradient(bottom, $light-blue 50%, $middle-blue);
    background: linear-gradient(to top, $light-blue 50%, $middle-blue);
  }
}