body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: $light-gray;
  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    min-width: 800px;
    overflow: hidden;
    background: $light-gray;
  }
}