.skill {
  &__title {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  &__info {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    span {
      padding: 0 8px;
    }
    .scroll-arrow {
      visibility: hidden;
      &--right {
        visibility: visible;
      }
    }
  }
  &__body {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    width: 70%;
    height: 180px;
    overflow-y: scroll;
  }
  &__contact {
    position: absolute;
    top: calc(50% + 160px);
    left: 50%;
    transform: translate(-50%, 0);
  }
}
