.profile {
  &__title {
    position: absolute;
    top: 20%;
    left: 10%;
    cursor: pointer;
  }
  &__chronology {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50%;
    height: 32px;
  }
  &__body {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    width: 70%;
    height: 180px;
  }
  &__contact {
    position: absolute;
    top: calc(50% + 160px);
    left: 50%;
    transform: translate(-50%, 0);
  }
}
