#top {
  .border {
    width: 100%;
    height: 100%;
    &__top {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 5px;
      background: #4a4a4a;
      animation: topAnimation 0.75s linear 0s;
    }
    &__right {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 5px;
      height: 100%;
      background: #4a4a4a;
      animation: rightAnimation 1.5s linear 0s;
    }
    &__bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 5px;
      background: #4a4a4a;
      animation: bottomAnimation 2.25s linear 0s;
    }
    &__left {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 5px;
      height: 100%;
      background: #4a4a4a;
      animation: leftAnimation 3s linear 0s;
    }
  }
  .top {
    width: 100%;
    height: 100%;
    &__title {
      position: absolute;
      top: 25%;
      left: 10%;
      transform: translate(0, -50%);
      animation: fadeInMoveUp 3.5s linear 0s;
      animation-fill-mode: forwards;
    }
    &__content {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%);
      width: 70%;
      height: 180px;
      display: flex;
      justify-content: space-between;
    }
    &__description {
      width: 320px;
      font-size: 1.5rem;
      letter-spacing: 0.3em;
      line-height: 2.3rem;
    }
    &__image {
      display: block;
      width: calc(100% - 360px);
      height: auto;
      background: gray;
    }
    &__contact {
      position: absolute;
      top: calc(50% + 160px);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

@keyframes topAnimation {
  0% { left: -100%; }
  100% { left: 0%; }
}
@keyframes rightAnimation {
  0% { top: -200% }
  100% { top: 0%; }
}
@keyframes bottomAnimation {
  0% { right: -300% }
  100% { right: 0% }
}
@keyframes leftAnimation {
  0% { bottom: -400% }
  100% { bottom: 0% }
}
@keyframes fadeInMoveUp {
  0% { opacity: 0.4; }
  70% { opacity: 1; }
  98% { top: 25%; }
  100% { top: 20%; }
}

